.containerCenter {
    max-width: 600px;
    margin: 50px auto;
}

.form{
    margin-top: 2rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.5rem;
  
    h1{
      color: var(--white);
      padding-bottom: 1rem;
    }
  
    form{
      width: 90%;
      display: flex;
      flex-direction: column;
    }
  
    form button{
      height: 40px;
      font-size: 1.2rem;
    }

    hr{
        border: 0;
        height: 1px;
        background-color: rgb(255, 255, 255, 0.2);
        margin: 10px 0 20px;
    }
  }